# if I ever open this in intellij
.idea

# vim things
**/*.swp

# 1password stuff
config/1Password/
config/BraveSoftware/
config/chromium/NativeMessagingHosts/com.1password.1password.json
config/google-chrome-beta/NativeMessagingHosts/com.1password.1password.json
config/google-chrome-unstable/NativeMessagingHosts/com.1password.1password.json
config/google-chrome/NativeMessagingHosts/com.1password.1password.json
config/microsoft-edge-dev/NativeMessagingHosts/com.1password.1password.json
config/vivaldi-snapshot/NativeMessagingHosts/com.1password.1password.json
config/vivaldi/NativeMessagingHosts/com.1password.1password.json

# pulse secure vpn
config/pulse/cookie

# no idea
config/cni/net.d/cni.lock

# chuckles
chuckles
